.fuegoCalorico {
    width: 150px;
}

.titulo {
    font-weight: bold;
    font-size: 30px;
}

.formulario div {
    display: flex;
    flex-direction: column;
}

.formulario label {
    font-weight: bold;
}

.formulario input {
    width: 389px;
    height: 40px;
    border: 4px #D9D9D9 solid;
    border-radius: 5px;
}

.boton {
    background-color: #DB366E;
    color: white;
    border: none;
    border-radius: 5px;
    width: 359px;
    height: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton:hover {
    background-color: #C02F5F;
    transform: scale(1.05);
}

.link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
