.perfil img{
    border-radius: 80%;
    width: 60px;
}

.perfil{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.perfil p{
    font-size: 18px;
}

.spanCalorias{
    font-size: 20px;
    color: black;
}