.perfil img{
    width: 130px;
}

.nombreUsuario{
    font-weight: bold;
    margin-top: 10px;

}

.perfil{
    display: flex;
    gap: 30px;
    flex-direction:row;
    padding: 20px;
    background-color: #F6F6F6;
}

.perfil p{
    font-size: 18px;
}

.spanCalorias{
    font-size: 20px;
    color: black;
}