.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s ease, text-decoration 0.3s ease; 
}

.link:hover {
    color: #007BFF; 
    text-decoration: underline;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedorEscritorio {
    display: none;
}

@media (min-width: 992px) {
    .contenedorEscritorio {
        display: block;
    }
}

.contenedorMovil {
    display: block;
    padding: 20px;
}

@media (min-width: 992px) {
    .contenedorMovil {
        display: none;
    }
}

.nombrePorcion {
    display: flex;
    flex-direction: column;
}

.descripcion {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.calorias {
    display: flex;
    align-items: center;
    justify-content: center;
}
