.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.formulario div{
    display: flex;
    flex-direction: column;
}

.formulario span{
    color: black;
    font-size: 15px;
}

.label{
    font-weight: bold;
}


.contenedor{
    background-color: #EBEFF0;
    padding: 30px;
}

.contenedor input{
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.boton {
    background-color: #1a8a58;
    color: white;
    padding: 8px;
    border: none;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #137a48; 
}

.huevo{
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.link a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s;
}

.link a:hover {
    color: #FF9800;
}

