/* El wrapper se expande para ocupar toda la altura de la ventana */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que ocupe al menos la altura de la ventana */
}

/* El contenido crece para ocupar el espacio disponible */
.content {
    flex: 1; /* Empuja el footer hacia abajo */
}

/* Estilo del footer */
.footer {
    height: 60px; /* Ajusta la altura según tus necesidades */
    background-color: #f8f9fa; /* Cambia el color de fondo si es necesario */
    text-align: center;
    padding: 20px;
    /* Puedes agregar más estilos aquí si es necesario */
}
