
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.content {
    flex: 1; 
}

.footer {
    height: 60px;
    background-color: #F1F1F1;
    background-color: #ffff;
    text-align: center; 
    padding: 55px;
    margin-top: 60px;
}

.links{
    display: flex;
    gap: 50px;
}

.links a{
    font-size: 25px;
}

.links a:hover{
    border-bottom: 1px solid black;
}

.nombre{
    font-size: 15px;
}