.logo{
    width: 54px;
}

.titulo{
    font-size: 40px;
    font-weight: bold;
}

.links{
    display: flex;
    gap: 20px;
    font-size: 24px;
}

.links a {
    text-decoration: none;
    color: #000000;
    transition: border-bottom 0.2s linear
}

.links a:hover {
    border-bottom: #F8664F 2px solid;
}

.main{
    background-color: #F1F1F1;
    padding-top: 70px;
    height: 90vh;
}

.subtitulo{
    font-weight: bold;
}

.check{
    width: 200px;
}

.subContainer{
    display: flex;
    justify-content: center;
}

.imagenCalorias{
    width: 400px;
}

@media (min-width: 501px) {
    .principal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 80px; 
    }

    .subtitulo{
        font-size: 48px;
    }

    .check{
        width: 250px;
    }
}