.contenedor{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.contenedor input{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}

.contenedor select{
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}
