.tableResponsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Asegura un desplazamiento suave en dispositivos móviles */
}

.table th, .table td {
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
}

@media (max-width: 768px) {
    .table th, .table td {
        font-size: 14px; /* Ajusta el tamaño de fuente para mejorar la legibilidad en pantallas pequeñas */
    }

    .tabla {
        display: none; /* Oculta la tabla en pantallas pequeñas */
    }

    .contenedorSubtabla {
        display: block; /* Muestra la subtabla en pantallas pequeñas */
    }
}

@media (min-width: 769px) {
    .contenedorSubtabla {
        display: none; /* Oculta la subtabla en pantallas grandes */
    }
}

.carbohidratos {
    color: red;
}

.proteina {
    color: blue;
}

.grasa {
    color: #B57C00;
}

.subTabla {
    border-bottom: 1px solid black;
    padding: 10px 0;
}
