.logo {
    width: 54px;
}

.titulo {
    font-size: 30px;
    margin-top: 15px;
    font-weight: bold;
    margin-left: 15px; 
}

.links {
    display: flex;
    gap: 20px;
    font-size: 20px;
    flex-direction: column; 
}

.links a {
    text-decoration: none;
    color: #000000;
    transition: border-bottom 0.2s linear;
    text-align: center;
    margin-bottom: 10px;
}

.links a:hover {
    border-bottom: #F8664F 2px solid;
}

@media (min-width: 768px) {
    .links {
        flex-direction: row; 
    }

    .links a {
        margin-bottom: 0; 
    }
}

